/* ==============================================
   = Autor: Igor Costa                          
   = Data de Construção: 20/03/2023
   = GitHub: portaldovigorcosta
   = Email: portaldovigorcosta@gmail.com
   = Nome : VG Buttons
   = Data de Versão: 1.0               
   ==============================================*/ 
:root{
/* Tamanho */
--pequeno: 8px 10px; --fonte-pequeno: 10px;
--normal: 10px 30px; --fonte-normal: 14px;
--grande: 15px 30px; --fonte-grande: 16px;
--extra-grande:20px 35px; --fonte-extra-grande:18px;
/* Fonte / Weight*/
--fonte: 'Arial'; --fonte-pesada: 100;
/* cor do texto */
--fonte-claro: white; --fonte-semiclaro: #a9a9a9; --fonte-escuro: black;
/*Cores*/
--primaria:#0d6efd; --secondaria:#6c757d; --sucesso: #198754;--perigo: #dc3545;
--alerta: #ffc107; --info:#0dcaf0; --claro: #fcfcfc;--escuro:#212529;
/*Borda Radius*/
--b-radius: 5px;
}

 /* Tamanho */
.bt-p{
padding: var(--pequeno); 
font-size: var(--fonte-pequeno); 
border: none; 
border-radius: var(--b-radius);
text-align: center; 
text-decoration: none;
font-family: var(--fonte);
font-weight: var(--fonte-pesada);
display: inline-block;
transition-duration: 0.4s;}
.bt-n{
padding: var(--normal); 
font-size: var(--fonte-normal); 
border: none; 
border-radius: var(--b-radius);
text-align: center; 
text-decoration: none;
font-family: var(--fonte);
font-weight: var(--fonte-pesada);
display: inline-block;
transition-duration: 0.4s;}
.bt-g{
padding: var(--grande); 
font-size: var(--fonte-grande); 
border: none; 
border-radius: var(--b-radius);
text-align: center; 
text-decoration: none;
font-family: var(--fonte);
font-weight: var(--fonte-pesada);
display: inline-block;
transition-duration: 0.4s;}
.bt-eg{
padding: var(--extra-grande); 
font-size: var(--fonte-extra-grande); 
border: none; 
border-radius: var(--b-radius);
text-align: center; 
text-decoration: none;
font-family: var(--fonte);
font-weight: var(--fonte-pesada);
display: inline-block;
transition-duration: 0.4s;}
 
/* Cores */
.bt-primaria{
background: var(--primaria); 
color: var(--fonte-claro);}
.bt-primaria:hover{opacity: 0.7;}
.bt-secondaria{
background: var(--secondaria); 
color: var(--fonte-claro);}
.bt-secondaria:hover{opacity: 0.7;}
.bt-sucesso{
background: var(--sucesso); 
color: var(--fonte-claro);}
.bt-sucesso:hover{opacity: 0.7;}
.bt-perigo{
background: var(--perigo); 
color: var(--fonte-claro);}
.bt-perigo:hover{opacity: 0.7;}
.bt-alerta{
background: var(--alerta); 
color: var(--fonte-claro);}
.bt-alerta:hover{opacity: 0.7;}
.bt-info{
background: var(--info); 
color: var(--fonte-claro);}
.bt-info:hover{opacity: 0.7;}
.bt-claro{
background: var(--claro); 
color: var(--fonte-escuro);}
.bt-claro:hover{opacity: 0.7;}
.bt-escuro{
background: var(--escuro); 
color: var(--fonte-claro);}    
.bt-escuro:hover{opacity: 0.7;}
/*-----------------------Contorno-----------------------------*/
/* Cores contorno */
.bto-primaria{
border: 2px solid;
border-color: var(--primaria);
color: var(--primaria);}
.bto-primaria:hover{
background: var(--primaria); 
color: var(--fonte-claro);}
.bto-secondaria{
border: 2px solid;
border-color: var(--secondaria);
color: var(--secondaria);}
.bto-secondaria:hover{
background: var(--secondaria); 
color: var(--fonte-claro);}
.bto-sucesso{
border: 2px solid;
border-color: var(--sucesso);
color: var(--sucesso);}
.bto-sucesso:hover{
background: var(--sucesso); 
color: var(--fonte-claro);}
.bto-perigo{
border: 2px solid;
border-color: var(--perigo); 
color: var(--perigo);}
.bto-perigo:hover{
background: var(--perigo);
color: var(--fonte-claro);}
.bto-alerta{
border: 2px solid;
border-color: var(--alerta);
color: var(--alerta);}
.bto-alerta:hover{
background: var(--alerta);
color: var(--fonte-claro);}   
.bto-info{
border: 2px solid;
border-color: var(--info);
color: var(--info);}
.bto-info:hover{
background: var(--info); 
color: var(--fonte-claro);}
.bto-claro{
border: 2px solid;
border-color: var(--claro);
color: var(--fonte-semiclaro);}
.bto-claro:hover{
background: var(--claro); 
color: var(--fonte-escuro);}
.bto-escuro{
border: 2px solid;
border-color: var(--escuro);
color: var(--fonte-escuro);}
.bto-escuro:hover{
background: var(--escuro); 
color: var(--fonte-claro);}   
/*-----------------------Sombra-----------------------------*/
 /* Cores */
.bts-primaria{
background: var(--primaria); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-primaria:hover{opacity: 0.7;}
.bts-secondaria{
background: var(--secondaria); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-secondaria:hover{opacity: 0.7;}
.bts-sucesso{
background: var(--sucesso); 
color: var(--fonte-claro);/*Sombra*/
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-sucesso:hover{opacity: 0.7;}
.bts-perigo{
background: var(--perigo); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-perigo:hover{opacity: 0.7;}
.bts-alerta{
background: var(--alerta); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-alerta:hover{opacity: 0.7;}
.bts-info{
background: var(--info); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-info:hover{opacity: 0.7;}
.bts-claro{
background: var(--claro); 
color: var(--fonte-escuro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-claro:hover{opacity: 0.7;}
.bts-escuro{
background: var(--escuro); 
color: var(--fonte-claro);
-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);}
.bts-escuro:hover{opacity: 0.7;}

/*=====================================================================
<!-- Teste de Tema escuro--->
<div style="padding: 10px 20px;">
<button  class="bt-n bt-perigo" onclick="mudar()">Modo Escuro</button>
<script>
function mudar() {
var element = document.body;
element.classList.toggle("modo-escuro");}
</script>
</div>
=======================================================================*/
.modo-escuro{background: #212529; color:white;}

.modo-escuro .bt-escuro{
border:1px solid;    
background: var(--escuro); 
color: var(--fonte-semiclaro);}    
.bt-escuro:hover{opacity: 0.7;}
    
.modo-escuro .bto-escuro{
border: 2px solid;
border-color: var(--fonte-semiclaro);
color: var(--fonte-semiclaro);}
.bto-escuro:hover{
   background: 
   -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
   background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
   background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
   color: var(--fonte-claro);
   opacity: 0.7;}; 
 